[submodule "imogen"]
	path = products/imogen
	url = https://github.com/benthevining/imogen
[submodule "kicklab"]
	path = products/kicklab
	url = https://github.com/benthevining/kicklab
[submodule "PrivateSDKs"]
	path = PrivateSDKs
	url = https://github.com/benthevining/PrivateSDKs.git
[submodule "Lemons"]
	path = Lemons
	url = https://github.com/benthevining/Lemons

