[submodule "Shared-code"]
	path = Shared-code
	url = https://github.com/BenViningMusicSoftware/Shared-code
[submodule "imogen"]
	path = imogen
	url = https://github.com/benthevining/imogen
[submodule "kicklab"]
	path = kicklab
	url = https://github.com/benthevining/kicklab
[submodule "StageHand"]
	path = StageHand
	url = https://github.com/BenViningMusicSoftware/StageHand
[submodule "rake/post_configure/DefaultGithubRepo"]
	path = rake/post_configure/DefaultGithubRepo
	url = https://github.com/BenViningMusicSoftware/DefaultGithubRepo.git
[submodule "lab"]
	path = lab
	url = https://github.com/benthevining/TestLab.git
