name: Build

on:
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:

  build:

    name: ${{ matrix.artifact }} build
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
        - os: windows-latest
          artifact: Windows
        - os: ubuntu-latest
          artifact: Linux
        - os: macos-latest
          artifact: MacOS

    steps:

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.ACCESS_TOKEN }}
        submodules: recursive
        path: Workspace
        
    - name: Install Ruby
      uses: ruby/setup-ruby@v1.81.0
      with:
        ruby-version: 2.6
        bundler-cache: true
        
    - name: Rake init
      shell: bash
      run: cd Workspace && rake init
      
    - name: Run build
      shell: bash
      run: cd Workspace && rake 'build:all[release]'
      
