name: Build

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:

  build:

    name: ${{ matrix.os }} build
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:

    - name: Install Ruby
      uses: ruby/setup-ruby@v1.81.0
      with:
        ruby-version: 3.0
        bundler-cache: true

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.ACCESS_TOKEN }}
        submodules: recursive
        path: Workspace

    - name: Set up cache
      uses: actions/cache@v2
      with:
        path: Workspace/Cache
        key: ${{ runner.os }}.${{ hashFiles('**/') }}
        restore-keys: |
          ${{ runner.os }}.

    - name: Run CI build script
      shell: bash
      run: bash Workspace/shell/ci_build.sh

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: ${{ runner.os }}.zip
        path: Workspace/Builds/deploy/
