name: Build

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:

  build:

    name: ${{ matrix.os }} build
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
        - os: windows-latest
        - os: ubuntu-latest
        - os: macos-latest

    steps:

    - name: Install Ruby
      uses: ruby/setup-ruby@v1.81.0
      with:
        ruby-version: 2.6
        bundler-cache: true

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.ACCESS_TOKEN }}
        submodules: recursive
        path: Workspace
        
    - name: Download ccache
      id: ccache
      shell: cmake -P {0}
      run: |
        set(ccache_url "https://github.com/cristianadam/ccache/releases/download/v$ENV{CCACHE_VERSION}/${ { runner.os } }.tar.xz")
        file(DOWNLOAD "${ccache_url}" ./ccache.tar.xz SHOW_PROGRESS)
        execute_process(COMMAND ${CMAKE_COMMAND} -E tar xvf ./ccache.tar.xz)

    - name: Set up cache
      uses: actions/cache@v2
      with:
        path: Workspace/Cache
        key: ${{ runner.os }}.${{ hashFiles('**/') }}
        restore-keys: |
          ${{ runner.os }}.
          
    - name: Prepare ccache timestamp
      id: ccache_cache_timestamp
      shell: cmake -P {0}
      run: |
        string(TIMESTAMP current_date "%Y-%m-%d-%H;%M;%S" UTC)
        message("::set-output name=timestamp::${current_date}")

    - name: ccache cache files
      uses: actions/cache@v1.1.0
      with:
        path: .ccache
        key: ${ { matrix.config.name } }-ccache-${ { steps.ccache_cache_timestamp.outputs.timestamp } }
        restore-keys: |
         ${ { matrix.config.name } }-ccache-

    - name: Rake init
      shell: bash
      run: cd Workspace && rake init

    - name: Run build
      shell: bash
      run: cd Workspace && rake 'build:all[release]'

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: ${{ runner.os }}.zip
        path: Workspace/Builds/deploy/
